ansible~=7.0.0
ansible-lint~=6.9.0
ansible-pylibssh~=1.0.0
jmespath~=1.0.1
jsondiff~=2.0.0
napalm~=4.0.0
napalm-ansible~=1.1.0
ncclient~=0.6.13
pan-os-python~=1.7.3
pan-python~=0.17.0
pandevice~=0.14.0
paramiko~=2.11.0
requests~=2.28.1
requests_toolbelt~=0.10.0
xmltodict~=0.13.0