ansible-core~=2.15
ansible-lint~=6.18
ansible-pylibssh~=1.1.0
jmespath~=1.0.1
jsondiff~=2.0
napalm~=4.1
napalm-ansible~=1.1
ncclient~=0.6.13
pan-os-python~=1.11
pan-python~=0.17.0
pandevice~=0.14.0
paramiko~=3.3
requests~=2.31
requests_toolbelt~=1.0
xmltodict~=0.13.0
